body {
    margin: 0;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
    background-color: #f4f4f4;

}
.container {
    max-width: 800px;
    margin: auto;
}
h1, h2, h3, h4 {
    color: #2c3e50;
}
img{
    border-radius: 8px;
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.video-container {
    margin-top: 25px;
    margin-bottom: 25px;
}
.centeredtext{
    text-align: center;
}
.iframe-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}
iframe{
    border-radius: 8px;
    height: 400px;
    width: 80%;
}
table,th,td{
    border: solid #333;
    border-width: 2px;
    border-style: dotted;
    border-collapse: collapse;
    padding: 10px;
}
.pricetable{
    min-width: 800px;
}
button{
    background-color: #e74c3c;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 2px;
}
button:hover{
    background-color: #c0392b;
}
input{
    padding: 8px;
    border: 1px solid #333;
    border-radius: 2px;
}
select{
    padding: 8px;
    border: 1px solid #333;
}

.contact-section {
    position: fixed;
    left: 85%;
    top: 75%;
    width: 180px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 8px;
}